<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isNew">New Movie Creator</ion-title>
    <ion-title *ngIf="!isNew">Movie Editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movie">
    <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Movie Title: </ion-label>
        <ion-input type="text" [(ngModel)]="movie.title" name="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Movie Release_Date: </ion-label>
        <ion-input type="text" [(ngModel)]="movie.release_date" name="release_date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Actors Name: </ion-label>
        <ion-input type="text" [(ngModel)]="movie.actor.name" name="actor_ids"></ion-input>
      </ion-item>

      <ion-item *ngFor="let assign of movie.actor; let i = index;  trackBy: customTrackBy">
        <ion-label>Actor Name: </ion-label>
        <ion-input [(ngModel)]="movie.actor[i].name" [name]="'Actor Name'+i"></ion-input>

        <ion-button (click)="removeActor(i)" [disabled]="(i==0 && movie.actor.length==1) || !auth.can('patch:movies')">Remove</ion-button><br />
        <ion-button (click)="assignActor(i)" [disabled]="(!auth.can('patch:movies'))">Assign</ion-button><br />

      </ion-item>

      <ion-button 
        [disabled]="!auth.can('delete:movies')"
        (click)="deleteClicked()">Delete</ion-button>
      <ion-button (click)="closeModal()">Cancel</ion-button>
      <ion-button 
        [disabled]="!auth.can('patch:movies') || !auth.can('post:movies')"
        (click)="saveClicked()">Save</ion-button>

    </form>
</ion-content>